{% extends "layouts/base.html" %}
{% block title %}Registros de Estudios por Médico{% endblock %}

{% block content %}
<div class="container py-5">

    <!-- Tarjetas de Información -->
    <div class="row mb-3 g-3">
        <div class="col-md-6">
            <div class="card shadow-sm h-100">
                <div class="card-header">
                    <h5 class="titulo-h6 text-center text-md-start mb-0">Mis registros</h5>
                </div>
                <div class="card-body text-center">
                    <p class="mb-0">¡Hola <strong>{{ user.first_name }}</strong>! Aquí podrás ver tus registros y filtrarlos por mes.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm h-100">
                <div class="card-header">
                    <h5 class="titulo-h6 text-center text-md-start mb-0">Filtrar por mes</h5>
                </div>
                <div class="card-body">
                    <p class="mb-3 text-center">El filtro se aplica sobre la <strong>fecha del informe</strong>.</p>
                    <form method="get" class="row g-2 d-flex justify-content-center">
                        {% csrf_token %}
                        <!-- Campo Mes -->
                        <div class="col-6 col-md-4 d-flex align-items-center">
                            <label for="id_mes" class="form-label me-2 mb-0">Mes</label>
                            {{ form.mes }}
                        </div>
                        <!-- Campo Año -->
                        <div class="col-6 col-md-4 d-flex align-items-center">
                            <label for="id_año" class="form-label me-2 mb-0">Año</label>
                            {{ form.año }}
                        </div>
                        <!-- Botón Consultar -->
                        <div class="col-12 col-md-2 ms-md-3 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary btn-sm w-100 w-md-auto">Consultar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Resultados de Ecografía -->
    <div class="card shadow-sm mb-3">
        <div class="card-header text-white" style="background-color: #164569;">
            <div class="row align-items-center py-0">
                <div class="col-6 col-md-8">
                    <h5 class="mb-0">Resultados: Ecografía</h5>
                    <p class="mb-0"><strong>{{ mes }}</strong> de <strong>{{ año }}</strong></p>
                </div>
                <div class="col-6 col-md-4 text-md-end">
                    <p class="mb-0"><strong>Total de pacientes:</strong> {{ registros_eco|length }}</p>
                    <p class="mb-0"><strong>Total de regiones:</strong> {{ total_regiones_eco }}</p>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th scope="col" class="px-3">Paciente</th>
                        <th scope="col">DNI</th>
                        <th scope="col" class="text-center col-2">Fecha del informe</th>
                        <th scope="col">Estudios</th>
                        <th scope="col" class="text-center px-3">Regiones</th>
                        <th scope="col" class="text-center col-2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in registros_eco %}
                    <tr>
                        <td class="px-3">{{ registro.nombre_paciente }} {{ registro.apellido_paciente }}</td>
                        <td>{{ registro.dni_paciente }}</td>
                        <td class="text-center">{{ registro.fecha_del_informe|date:"d/m/Y" }}</td>
                        <td>{{ registro.estudio.all|join:", " }}</td>
                        <td class="text-center px-3">{{ registro.total_regiones }}</td>
                        <td class="text-center px-3">
                            <a href="{% url 'registroestudios_edit' registro.pk %}" class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{% url 'registroestudios_delete' registro.pk %}" class="btn btn-danger btn-sm"
                               onclick="return confirm('¿Estás seguro de que deseas eliminar este registro?');">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center py-2">No se encontraron registros de ecografía para el corriente mes</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Resultados de Otros Estudios -->
    <div class="card shadow-sm mb-3">
        <div class="card-header text-white" style="background-color: #1CA6A6;">
            <div class="row align-items-center py-0">
                <div class="col-6 col-md-8">
                    <h5 class="mb-0">Resultados: Radiografía, Tomografía y Resonancia</h5>
                    <p class="mb-0"><strong>{{ mes }}</strong> de <strong>{{ año }}</strong></p>
                </div>
                <div class="col-6 col-md-4 text-md-end">
                <p class="mb-0"><strong>Total de pacientes:</strong> {{ registros_otros|length }}</p>
                <p class="mb-2"><strong>Total de regiones:</strong> {{ total_regiones_otros }}</p>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th scope="col" class="px-3">Paciente</th>
                        <th scope="col">DNI</th>
                        <th scope="col" class="text-center col-2">Fecha del informe</th>
                        <th scope="col">Estudios</th>
                        <th scope="col" class="text-center px-3">Regiones</th>
                        <th scope="col" class="text-center col-2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in registros_otros %}
                    <tr>
                        <td class="px-3">{{ registro.nombre_paciente }} {{ registro.apellido_paciente }}</td>
                        <td>{{ registro.dni_paciente }}</td>
                        <td class="text-center">{{ registro.fecha_del_informe|date:"d/m/Y" }}</td>
                        <td>{{ registro.estudio.all|join:", " }}</td>
                        <td class="text-center px-3">{{ registro.total_regiones }}</td>
                        <td class="text-center px-3">
                            <a href="{% url 'registroestudios_edit' registro.pk %}" class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{% url 'registroestudios_delete' registro.pk %}" class="btn btn-danger btn-sm"
                               onclick="return confirm('¿Estás seguro de que deseas eliminar este registro?');">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center py-2">No se encontraron registros de estos estudios para el corriente mes</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
