{% extends "layouts/base.html" %}
{% block title %}Nuevo Registro Diario{% endblock %}

{% block content %}
<div class="container py-5">
    <h1>Nuevo Registro Diario</h1>
    <form method="post">
        {% csrf_token %}
        <p>{{ form.as_p }}</p>
        <h2>Detalles</h2>
        {{ formset.management_form }}
        <table>
            {% for form in formset %}
            <tr>
                <td>{{ form.estudio.label_tag }}</td>
                <td>{{ form.estudio }}</td>
                <td>{{ form.cantidad.label_tag }}</td>
                <td>{{ form.cantidad }}</td>
                <td>{% if form.instance.pk %}<a href="#">Eliminar</a>{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit">Guardar</button>
    </form>
</div>
{% endblock %}

