{% extends "layouts/base.html" %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<div class="container col-md-6 col-lg-5 d-flex justify-content-center align-items-start py-5">
    <div class="card shadow border-0 w-100">
        <div class="card-header text-white text-center cabecera-tarjeta">
            <h4 class="mb-0">Restablecer contraseña</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="input-group mb-0">
                    <span class="input-group-text" id="email-addon">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Correo electrónico" required>
                    <p class="form-text text-muted text-center small-text">Se enviará un enlace de restablecimiento de contraseña a su correo electrónico.</p>
                </div>
                <button type="submit" class="btn btn-custom">Enviar enlace de recuperación</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

