{% extends "layouts/base.html" %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<div class="container col-md-6 col-lg-5 d-flex justify-content-center align-items-start py-3">
    <div class="card shadow border-0 w-100">
        <div class="card-header text-white text-center cabecera-tarjeta">
            <h4 class="mb-0">Restablecer contraseña</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="input-group mb-0">
                    <span class="input-group-text" id="password1-addon">
                        <i class="fas fa-key"></i>
                    </span>
                    <input type="password" name="new_password1" id="new_password1" class="form-control" placeholder="Nueva contraseña" required>
                </div>
                <p class="form-text text-muted small-text">La contraseña debe tener al menos 8 caracteres.</p>
                <div class="input-group mb-0">
                    <span class="input-group-text" id="password2-addon">
                        <i class="fas fa-key"></i>
                    </span>
                    <input type="password" name="new_password2" id="new_password2" class="form-control" placeholder="Confirmar nueva contraseña" required>
                </div>
                <p class="form-text text-muted small-text">Introduzca la misma contraseña que antes, para verificación.</p>
                <button type="submit" class="btn btn-custom">Restablecer contraseña</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
