{% extends "layouts/base.html" %}
{% block title %}Contraseña restablecida{% endblock %}
{% block content %}
<div class="container col-md-6 col-lg-5 d-flex justify-content-center align-items-start py-3">
    <div class="card shadow border-0 w-100">
        <div class="card-header text-white text-center bg-success">
            <h4 class="mb-0">Contraseña restablecida</h4>
        </div>
        <div class="card-body">
            <p>Tu contraseña ha sido restablecida con éxito. Ahora puedes <a href="{% url 'login' %}">iniciar sesión</a>.</p>
        </div>
    </div>
</div>
{% endblock %}
