{% extends "layouts/base.html" %}
{% block title %}Historial de Eventos{% endblock %}

{% block content %}
<!-- {% if messages %}
<div class="container mt-3">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show auto-dismiss" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %} -->
<div class="container mt-4 mb-5">
    <div class="card shadow-sm">
        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
            <h5 class="mb-0 text-truncate">Historial de eventos</h5>
            <a href="{% url 'gestion_eventos:evento_nuevo' %}" class="btn btn-sm btn-light">
                <i class="bi bi-plus-lg"></i> Nuevo evento
            </a>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center justify-content-md-end mb-2">
                <a href="{% url 'gestion_eventos:lista_eventos' %}" class="btn btn-sm btn-outline-primary me-2">
                    <i class="bi bi-list-task"></i> Eventos Activos
                </a>
                <a href="{% url 'gestion_eventos:historial_eventos' %}" class="btn btn-sm btn-outline-secondary">
                    <i class="bi bi-archive"></i> Historial de Eventos
                </a>
            </div>
            <div class="bg-light border rounded p-2 mb-2">
                <form method="get" class="row justify-content-center g-2">
                    <!-- Renderiza todos los campos del formulario -->
                    <div class="col-md-auto">
                        {{ form.q.label_tag }}
                        {{ form.q }}
                    </div>
                    <div class="col-md-auto">
                        {{ form.tipo_evento.label_tag }}
                        {{ form.tipo_evento }}
                    </div>
                    <div class="col-md-auto">
                        {{ form.fecha_inicio.label_tag }}
                        {{ form.fecha_inicio }}
                    </div>
                    <div class="col-md-auto">
                        {{ form.fecha_fin.label_tag }}
                        {{ form.fecha_fin }}
                    </div>
                    <div class="col-md-auto d-flex align-items-end justify-content-end">
                        <button type="submit" class="btn btn-primary btn-sm me-2">
                            <i class="bi bi-funnel"></i> Filtrar
                        </button>
                        <a href="{% url 'gestion_eventos:historial_eventos' %}" class="btn btn-outline-secondary btn-sm">
                            Limpiar
                        </a>
                    </div>
                </form>
            </div>
            {% if eventos %}
            <div class="list-group">
                {% for evento in eventos %}
                <div class="list-group-item mb-3 border rounded shadow-sm">
                    <div class="d-colum d-md-flex justify-content-between align-items-center mb-2">
                        <div class="mt-2 text-center text-md-start">
                            <h5 class="mb-1">
                                        <i class="bi bi-info-circle text-primary me-1"></i>
                                        <strong>{{ evento.get_tipo_evento_display }}</strong>                                     
                                    </h5>
                                    {% with estado=evento.estado %}
                                        <span class="badge 
                                            {% if estado == 'abierto' %}bg-primary
                                            {% elif estado == 'en_revision' %}bg-warning text-dark
                                            {% elif estado == 'resuelto' %}bg-success
                                            {% else %}bg-secondary
                                            {% endif %}
                                        ">
                                            {{ evento.get_estado_display }}
                                        </span>
                                    {% endwith %}
                                </div>
                                <div class="d-flex flex-column align-items-start align-items-md-end mt-2">
                                    {% if evento.nombre_paciente %}
                                    <p class="mb-0 text-muted small">
                                        <i class="bi bi-person-fill"></i>
                                        Paciente <strong>{{ evento.nombre_paciente|upper }}{% if evento.dni_paciente %} - DNI: {{ evento.dni_paciente }}{% endif %}</strong>
                                    </p>
                                    {% endif %}
                                    {% if evento.sector_de_pedido %}
                                    <p class="text-muted mb-0 text-md-end">
                                        <i class="bi bi-diagram-3-fill me-1"></i> Sector: {{ evento.sector_de_pedido }}
                                    </p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="bg-light border rounded px-3 py-2 mt-3">
                                <p class="mt-3 mb-3">{{ evento.descripcion|truncatechars:100 }}</p>
                                {% if evento.estudio_relacionado %}
                                <p class="mt-3 mb-3 small">Estudio solicitado: <strong>{{ evento.estudio_relacionado }}</strong></p>
                                {% endif %}
                                <p class="text-muted mb-3 mt-4 text-end">
                                    <i class="bi bi-clock-history"></i> Registrado por <em>{{ evento.creado_por.get_full_name|title }}</em>
                                    el {{ evento.fecha_creacion|date:"d/m/Y H:i" }}
                                </p>
                            </div>
                            
                            {% if evento.ultima_nota %}
                            <div class="bg-light border rounded px-3 py-2 mt-3">
                                <div class="d-flex flex-column mb-3">
                                    <strong class="me-1"><i class="bi bi-chat-left-dots-fill text-info me-2"></i>Última nota</strong>
                                    <small class="text-muted">
                                        por <em>{{ evento.ultima_nota.creado_por.get_full_name|title }}</em>
                                        el {{ evento.ultima_nota.fecha|date:"d/m/Y H:i" }}
                                    </small>
                                </div>
                                <p class="mb-0 small fst-italic mb-2">
                                    “{{ evento.ultima_nota.comentario|truncatechars:100 }}”
                                </p>
                            </div>
                            {% endif %}
                            
                            <div class="d-flex justify-content-end mt-3 mb-2">
                                <a href="{% url 'gestion_eventos:detalle_evento' evento.pk %}" class="btn btn-outline-primary btn-sm">
                                    <i class="bi bi-eye"></i> Ver detalle
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-muted p-2">No se encontraron eventos en el historial para los filtros seleccionados.</p>
            {% endif %}
            <!-- filepath: c:\Users\efcce\OneDrive\Documentos\GitHub\gestion_servicio\templates\gestion_eventos\historial_eventos.html -->
            {% if is_paginated %}
                <div class="mt-4 d-flex justify-content-center">
                    <nav aria-label="Navegación de páginas">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}"
                                   aria-label="Anterior">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" aria-hidden="true">&laquo;</span>
                            </li>
                            {% endif %}
            
                            {% for num in paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page={{ num }}">
                                            {{ num }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
            
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}"
                                   aria-label="Siguiente">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" aria-hidden="true">&raquo;</span>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- <script>
    document.addEventListener('DOMContentLoaded', function () {
        const alerts = document.querySelectorAll('.auto-dismiss');
        alerts.forEach(function (alert) {
            setTimeout(function () {
                const bsAlert = new bootstrap.Alert(alert);
                bsAlert.close();
            }, 4000); // 4000 milisegundos = 4 segundos
        });
    });
</script> -->
{% endblock %}
